@import "./variable.scss";

html {
  min-height: 100%;
  display: flex;
  width: 100%;
  body {
    font-family: $baseFamily;
    flex-grow: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    #root {
      flex-grow: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}

ul {
  z-index: 9;
  display: flex;
  color: white;
  list-style: none;
  padding: 2%;
  align-items: center;
  gap: 50px;
}
li {
  font-size: var(--fs17);
  font-weight: 600;
}
button {
  color: $primary;
  background-color: $secondary;
  font-size: var(--fs17);
}

.btn-primary {
  background-color: $secondary;
  color: $primary;
  font-weight: 600;
  font-size: var(--fs14);
  border-radius: 50px;
  text-transform: uppercase;
}

.introsection-container {
  background-color: $light-white;
  height: 100vh;
}
.introsection {
  background-image: url("/rectangle.png");
  position: absolute;
  right: 0%;
  width: 60%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: inherit;
}
.introsection-user {
  position: absolute;
  right: 10%;
  bottom: 0%;
  z-index: 4;
}
.introsection-content {
  position: absolute;
  top: 35%;
  left: 15%;
}
.line-1 {
  font-size: var(--fs20);
  font-weight: 700;
  color: $primary;
}
.line-2 {
  font-size: var(--fs50);
  font-weight: 700;
  color: $primary;
}
.line-3 {
  font-size: var(--fs17);
  font-weight: 700;
  color: $grey;
}
