:root {
  --fs14: 14px;
  --fs15: 15px;
  --fs17: 17px;
  --fs20: 20px;
  --fs50: 50px;
  //   --bs-yellow: $primary;
  //   --space20: 20px;
  //   --tabWidth: 150px;
  .btn-primary {
    --bs-btn-active-bg: #000;
    --bs-btn-active-border-color: #fff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #000;
    --bs-btn-hover-border-color: #fff;
  }
}

$baseFamily: "Montserrat", sans-serif;
$primary: #000000;
$secondary: #ffffff;
$light-white: #d7d7d7;
$grey: #605e5e;
